@import url('https://fonts.googleapis.com/css2?family=Kenia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita One&display=swap');
/*for vedio*/
body, header {
  margin: 0;
  padding: 0;

}

/* Style the header with a background color and text color */
header.masthead
{background:no-repeat center center;background-color:#e0e6ea
    ;height: 30rem;width:100%;backface-visibility: visible;background-size:cover;}

   
  header.masthead .page-heading
  {padding:25px 0 150px;color:#3c4757}
  header.masthead .page-heading .subheading,header.masthead .site-heading .subheading
  {
      font-size:clamp(20px,4vw,35px);color: #fbf8f8;font-weight:620;line-height:1.1;display:block;
      margin:30px 0 0;font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
  }



header.masthead .site-heading
{text-align:center;padding-top: 150px;}

/* Style the video container to make it full-width and responsive */
.video-container {
  position: relative;
 width:100%;
  height: clamp(270px,25vw,500px);

}

/* Style the video to cover the entire container */
video {

  width: 100%;
  height: 100%;
  object-fit: cover;
 

}
/* not found page*/
.notfound{
  font-size: clamp(48px,6vw,75px);
  font-family: Impact;
  margin-bottom: 30px;
  margin-top: 40px;
  margin-top: 4%;
 
  color: black;
}
.nfs{
  font-size: clamp(18px,6vw,40px);
  font-family: Impact;
  margin-bottom: 30px;
  margin-top: 40px;
 
  color: black;
}





/* for search results*/
.searched{
  color:brown;
  font-size: clamp(25px,4vw,60px);
  text-decoration: none;
}
h3{
  margin-top: clamp(20px,5vw,24px);
  font-size: clamp(30px,4vw,65px);
  font-weight: 600;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-left: 2%;

}



    h1{
      font-size: clamp(48px,6vw,65px);
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      margin-bottom: 30px;
      margin-top: 40px;
     
      color: honeydew;
    }
    h2{
      font-size: clamp(48px,6vw,65px);
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      margin-bottom: 10px;
      margin-top: 10px;
     text-align: center;
      color: rgb(0, 0, 0);
    }

     .subheading{
      font-size:clamp(30px,6vw,45px);
    color: #F3BFB3;
  }



  
     
   


/* for post */

.container-1{
   

    width: 100% ;
   
   border-radius: 3px;

  background:#ffffff;

overflow-wrap: break-word;
height: max-content;


  } 
 
.csub-1{
  
  height: 100%;
  width:100%
 
}
  

#username-1 a{
  margin-top: 1%;
font-family:  Saria;
font-weight: 800;
  font-size: clamp(15px,1vw,32px);

  margin-bottom: 1px;
  color:rgb(0, 0, 0);
 
  
  margin-right: 1%;
  text-decoration: none;
 

}

#username-1{
  margin-top: 1%;
 
  font-family:  Saria;
  font-weight: 800;
    font-size: clamp(13px,1vw,24px);
  
    margin-bottom: 1px;
    color:salmon;
   
    margin-left: 1%;
    text-decoration: none;
}
   
   .post-title-1{
    font-size: clamp(20px,4vw,30px);
    text-decoration:#ffffff underline;
    margin-left: 4%;
    margin-bottom: 4px;
    color:#028dff;
   padding-top: 1%;
   font-family: Kenia;
 
   }
 
   .post-meta-1{
    margin-left: 5%;
    font-size: 11px;
    color:black;
    font-weight: 700;
  
   }


 
   /*username*/
   span{
    text-decoration: whitesmoke underline;
    font-size: clamp(14px,3vw,15px);
    margin-left: 3px;
 
    color:salmon;
}


      

 .content-1{
        line-height: 1.0;
       font-size: clamp(15px,2vw,22px);
       margin-top: 10px;
       margin-left:8% ;
     font-weight: 500;
     margin-bottom: 10px;
    margin-right: 3%;
     color:rgb(0, 0, 0);
     font-family: Saira;
        }

  
            
           
             .container-waterflow{
                height: 100%;
                width:11%;
               position: fixed;
           z-index:5;
              background:brown;
              display:none;
            }
           
               

              
          

 /* for individual posts*/
.container-content{
  margin-left: 0%;
 
overflow-wrap: break-word;
  margin-top: 50px;
  margin-bottom: 70px;
  border-radius: 8px;
}
.post-content{
 
  margin-top: 15px;
  margin-bottom: 20px;
  margin-left: 5px;
  margin-right: 15px;
  font-size: clamp(16px,2vw,35px);
  opacity: 10px;
 
overflow-wrap: break-word;
  font-family: Georgia, Times, 'Times New Roman', serif;

letter-spacing: 1px;
  font-weight: 800;
  line-height: 1.5;
}
.user-discuss{
  margin-left: 40%;
  font-size: clamp(10px,2vw,25px);

  text-align: end;
  margin-top: 3%;
  margin-bottom: 10rem;
  color:#000000;
  font-family:Tahoma, sans-serif;
}

@media (min-width:480px){

  .post-meta-1{
    font-size: 11px;
  }
  .post-meta-2{
    font-size: 11px;
  }

}
@media (min-width:720px){

  .post-meta-1{
    font-size: 13px;
  }
 
  .post-meta-2{
    font-size: 13px;
  }

}
@media(min-width:870px){

 h3{
  margin-left: 8%;
}

 .container-waterflow{
  width:6%;
  display: inline;
 }
 .container-1{
  margin-left: 8%;
  width: 92%;
}


.container-content{
  margin-left:5%;
  margin-right: 5%;
}

.searched{
  display: inline;
}

}
@media(min-width:1200px){
.container-waterflow{
  display: inline;
  width: 7%;
}
#username-1 img{
  width:38px;
  height: 38px;
}

  .post-meta-1{
    font-size: 20px;
  }

  .post-meta-2{
    font-size: 20px;
  }
  #username-1{
    font-size: 28px;
  }
  #username-1 a{
    font-size: 36px;
  }


}

@media(min-width:1500px){
  span{
    display: none;
  }

  #username-1 img{
    width:42px;
    height: 42px;
  }
  .post-title-1{
    font-size: 50px;
  }
 
  .post-meta-1{
    font-size: 29px;
  }

 
  span{
    font-size: 30px;
  }
  .content-1{
    font-size: 35px;
    line-height: 1.1;
    font-weight: 600;
  }
 
 
   
   
        
         #uid-1 a {
          font-size: clamp(18px,4vw,30px);
          font-weight: 600;
          text-decoration: none;
          color:rgb(0, 0, 0);
          text-align: center;
          margin-left: 30%;
         }
    
    

}

