.description{
  font-size: clamp(14px,3vw,28px);
  font-weight: 600;
 padding-top: 10px;
 padding-left: 15px;
 padding-right: 10px;
 padding-bottom: 8px;
 line-height: 1.1;
  border: 2px solid #0a0a0a;
  border-radius: 8px;
  background-color:whitesmoke
}
.desire{
  overflow: scroll;
}
.but-add{
 text-align: center;
}

.video-container {
  position: relative;
  width: 100%;
  height: clamp(270px,25vw,500px);

}
.img {
  position: absolute;
  top: 0;
  left: 0;
width:100%;
  height: 100%;
  z-index: 5;

}

  header.masthead
  {background:no-repeat center center;background-color:#e0e6ea
      ;height: 30rem;width:100%;backface-visibility: visible;background-size:cover;}
  
     
    header.masthead .page-heading
    {padding:25px 0 150px;color:#3c4757}
    header.masthead .page-heading .subheading,header.masthead .site-heading .subheading
    {
        font-size:clamp(20px,4vw,35px);color: #fbf8f8;font-weight:620;line-height:1.1;display:block;
        margin:30px 0 0;font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
    }



header.masthead .site-heading
{text-align:center;padding-top: 150px;}
    
  
      /* description*/
      .container-des{
        margin-top: 50px;
        margin-left: 12%;
       margin-right: 12%;
      }
      p{
        font-size: clamp(22px,5vw,40px);
      font-family: Arial, Helvetica, sans-serif;
      margin-bottom: 20px;
      font-weight: 600;
      }
.container-post-profile{
   margin-right: 10%;
   margin-left: 13%;
   margin-bottom: 70px;
   width:72%;
  
}

#uid{
  font-size: clamp(20px,4vw,40px);
  width: 300px
  
}
h1{
  font-size: clamp(40px,6vw,65px);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin-bottom: 30px;
  margin-top: 40px;
 
  color: rgb(253, 254, 255);
}
  h2{
      font-size: clamp(32px,5vw,65px);
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      margin-bottom: 30px;
      color: rgb(8, 159, 247);
  }
  h3{
    font-size: 25px;
  font-style: italic;
  font-weight: 600;
  }

  /*post*/
  .post-preview{
    background-color: rgba(45, 191, 191, 0.495);
    margin-top: 0px;
    border-radius: 10px;
  
    box-shadow: 12px 12px 8px rgb(51, 51, 75);
    border: #000;
  }
  .container-2{
   
    border-radius: 9px;
    
  box-shadow:  5px 5px 9px rgb(88, 94, 84);
    max-width:100%;
  background:linear-gradient(240deg,#8e939e,#494D5F);
   
 margin-bottom: 6%;
   
  }
  .post-title-2{
  font-size: 50px;
    text-decoration:#F3BFB3 underline;
    margin-left: 1%;
    margin-bottom: 12px;
    color:#F3BFB3;
   padding-top: 1%;
  
   }
   .post-meta-2{
    margin-left: 5%;
   font-size: 24px;
    color:white;
    font-weight: 700;
   }


 .content-2{
        line-height: 1.0;
      font-size: 36px;
       margin-top: 6px;
       margin-left:8% ;
     font-weight: 500;
     margin-bottom: 10px;
    margin-right: 3%;
     color:white
        }

        #view_button{
 
          margin-left: 6px;
          font-size: clamp(10px,2vw,24px);
          font-weight: 800;
          margin-bottom: 8px;
          color: rgb(255, 255, 255);
         border:3px solid black;
          background:#A55C1B
        }

 
  .subheading{
      font-size:clamp(30px,6vw,45px);
  }




      #sendMessageButton{
        float: right;
        font-size: clamp(12px,4vw,25px);
        font-weight: 600;
      }

/* buttons-profile*/
.text{
  font-size: 25px;

  font-weight: 600;
  background-color:none;
  border-radius: 5px;
}
.text-2{
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 400;
}
 #add_button{
 
  
 
    margin-left: 6px;
    font-size: clamp(18px,3vw,40px);
    font-weight: 800;
    margin-bottom: 8px;
    padding: 0.8%;
    
    text-decoration: none;
   border-radius: 5px;
 float: right;

    background:#dd1818;
 border: 2px solid black;
  color: #ffffff;
  cursor: pointer;
  margin-bottom: 0px;
}

@media (max-width:1350px){
 
  .container-des{
margin-left: 9%;
margin-right: 9%;
  }
  .container-post-profile{
    margin-left: 9%;
  
    width: 80%;
  }

.post-title-2{
  margin-left: 3%;
  margin-top: 3%;
  font-size: clamp(20px,4vw,30px);
}
.post-meta-2{
  font-size: clamp(11px,2vw,24px);
}


.content-2{
  font-size: clamp(15px,3vw,22px);
  line-height: 1.1;
}
  

}
 @media (max-width:1000px){

 }
 @media (min-width:850px){

 #add_button{
  float: none;
  margin-left: 80%;
 }
 }
 
 
 @media (min-width:2000px){
  #add_button{
    margin-left: 85%;
  }
 }
  @media (max-width:780px){
  
    #uid{
      width: 180px;
    }

 }
 @media (max-width:440px){
  
 

  
 
  .text-2{
    font-size: 16px;
  }
 }
     
      
    