html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/*for mine*/
*, body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
}
/* for intro*/
html, body {
    height: 100%;
    background:linear-gradient(#bdc3c7,#2c3e50);;
    overflow: hidden;
}
#photu
{background:no-repeat;background-color:#f6f4f4
    ;height:100% ;width:100%;background-size: cover;}
   
   
    .page-heading  h1{
        font-size: 80px;
     text-align: center;
        font-weight: 800;
        margin-top: 40%;
        
       
    }.subheading{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
       
        text-align: center;
        margin-top: 20%;
        font-size: 40px;
        font-weight: 700;
    
    }
    #intro_but{
        font-size: 28px;
        font-weight: 700;
        margin-top: 8%;
        margin-left: 4%;
        color:black;
        background: linear-gradient(#ffc3a0,#ffafbd);
        border-radius: 6px;
    }
    span{
        color:#00B5Ec;
        font-weight: 600;
    }
    @media (max-width:750px)
    {
        .page-heading{
            margin-top: 60%;
        }
        .page-heading h1{
          padding-right: 30px;
        
        }
    }

