@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap');
#alert{
 background-color: #020202;
 font-size: 21px;
 font-weight: 700;
 opacity: 8;
 color:whitesmoke

}
*, body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
}
/* for intro*/
html, body {
    height: 100%;
    background:linear-gradient(240deg, #bdc3c7,#2e3c50);;
    overflow: hidden;
}



.form-holder {
    max-width: 400px;
    width: 90%;
  margin-left: 850px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      min-height: 1000vh;
}

.form-holder .form-content {
  background:  (110deg,#2193b0,#6dd5ed);
    text-align: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    padding: 60px;
}

.form-content .form-items {
    border: 3px solid #fff;
   
    display: inline-block;
    width: 200px;
    min-width: 540px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-align: left;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.form-content h3 {
    color:black;
    font-family:fantasy;
    text-align: center;
    font-size: clamp(35px,5vw,50px);
    font-weight: 500;
    margin-bottom: 40px;

}






.form-content label, .was-validated .form-check-input:invalid~.form-check-label, .was-validated .form-check-input:valid~.form-check-label{
    color: #eed4d4;
    height: 100px;
    width: 78px;
}

.form-content input[type=text], .form-content input[type=password], .form-content input[type=email], .form-content select {
    max-height: 100px;
    height: 40%;
  width: 100%;
    padding: 9px 20px;
    text-align: left;
    border: 0;
    outline: 0;
    border-radius: 6px;
    background-color: #faf7f7;
    font-size: 20px;
    font-weight: 500;
    color: #1c1a1a;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    margin-top: 16px;
}


.btn-primary{
    background-color: #3080c6;
    outline: none;
    border: 0px;
     box-shadow: none;
     font-weight: 500;
     letter-spacing: 1px;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active{
    background-color: #425261;
    outline: none !important;
    border: none !important;
     box-shadow: none;
}







@media (min-width:880px) {
    .illustration {
        text-align:center;
      
        font-size:90px;
        color:#d8d113;
      }
    #alert{
        background-color: #020202;
        font-size: 21px;
        font-weight: 700;
        opacity: 8;
        color:whitesmoke}
    .form-holder {
        margin-left: 40%;
        
        width: 80%;
          
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            min-height: 100vh;
    }
    .form-content .form-items {
        border: 5px solid #f9f9f9;
        padding: 5%;
        display: inline-block;
        width: 80%;
        min-width: 600px;
        min-height: 600px;

        color:#121010;
      
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        text-align: left;
        -webkit-transition: all 0.4s ease;
        transition: all 0.4s ease;
    }.form-content input[type=text], .form-content input[type=password], .form-content input[type=email], .form-content select {
        max-height: 100px;
        height: 45%;
      width: 100%;
      max-width: 800px;
        padding: 9px 20px;
        text-align: left;
        border: 0;
        outline: 0;
        border-radius: 6px;
        background-color: #faf7f7;
        font-size: 20px;
        font-weight: 700;
        opacity: 10;
        color: #121010;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        margin-top: 4%;
    }
    

}
@media (max-width:880px) {
    .illustration {
        text-align:center;
      margin-top: -8%;
        font-size:70px;
        color:#d1d813;
      }
    #alert{
        background-color: #020202;
        font-size: 21px;
        font-weight: 700;
        opacity: 8;
        color:whitesmoke}
    .form-holder {
        margin-left: 35%;
       
        width: 30%;
          
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            min-height: 100vh;
    }
    .form-content .form-items {
        border: 5px solid #f9f9f9;
        padding: 5%;
        display: inline-block;
        width: 90%;
        
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        text-align: left;
        -webkit-transition: all 0.4s ease;
        transition: all 0.4s ease;
    }.form-content input[type=text], .form-content input[type=password], .form-content input[type=email], .form-content select {
        max-height: 100px;
        height: 40%;
      width: 100%;
      max-width: 700px;
        padding: 9px 20px;
        text-align: left;
        border: 0;
        outline: 0;
        border-radius: 6px;
        background-color: #faf7f7;
        font-size: 20px;
        font-weight: 700;
        color: #0a0909;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        margin-top: 4%;
    }
    

}

  
@media (max-width:570px) {
    .form-holder {
        margin-left: 46%;
     
        width: 10%;
          
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            min-height: 100vh;
    }
    #alert{
        background-color: #020202;
        font-size: 21px;
        font-weight: 700;
        opacity: 8;
        color:whitesmoke}
    .form-content .form-items {
        border: 5px solid #f9f9f9;
        padding-right: -20px;
        
        display: inline-block;
        max-width: 400px;
      min-width: 380px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        text-align: left;
        -webkit-transition: all 0.4s ease;
        transition: all 0.4s ease;
    }.form-content input[type=text], .form-content input[type=password], .form-content input[type=email], .form-content select {
        max-height: 100px;
        height: 40%;
      width: 100%;
      max-width: 700px;
        padding: 9px 20px;
        text-align: left;
        border: 0;
        outline: 0;
        border-radius: 6px;
        background-color: #faf7f7;
        font-size: 20px;
        font-weight: 700;
        color: #0a0a0a;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        margin-top: 4%;
    }
    

}
@media (max-width:400px) {
    .form-holder {
        margin-left: 37%;
     
        width: 100px;
          
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            min-height: 100vh;
    }
    #alert{
        background-color: #020202;
        font-size: 21px;
        font-weight: 700;
        opacity: 8;
        color:whitesmoke}
    .form-content .form-items {
        border: 3px solid #fff;
        padding-right: 18px;
       
        display: inline-block;
        width: 10%;
      max-width: 400px;
      min-width: 300px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        text-align: left;
        -webkit-transition: all 0.4s ease;
        transition: all 0.4s ease;
    }.form-content input[type=text], .form-content input[type=password], .form-content input[type=email], .form-content select {
        max-height: 100px;
        height: 40%;
      width: 100%;
      max-width: 700px;
        padding: 9px 20px;
        text-align: left;
        border: 0;
        outline: 0;
        border-radius: 6px;
        background-color: #faf7f7;
        font-size: 15px;
        font-weight: 700;
        color: #111010;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        margin-top: 4%;
    }
    
    .form-content h3 {
        color: #000000;
        text-align: center;
        font-size: 32px;
        font-weight: 600;
        margin-bottom: 20px;
    
    }

}
@media (max-width:300px){
    .form-content{
        margin-left: 49%;
    }
}
