@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');

*,
body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
}

html,
body {
    height: 100%;
    overflow: hidden;
    background: linear-gradient(240deg, #bdc3c7, #2e3c50);

}

#photu {
    background: no-repeat;
    background-color: #f6f4f4;
    height: 100%;
    width: 100%;
    background-size: cover;
}

.form-holder {

    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.form-content-create .form-items {
    display: inline-block;
    width: 620px;
    padding: 40px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 8px solid silver;
    text-align: left;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}


.form-content .form-items {
    display: inline-block;
    background-color: #030303;
    width: 620px;
    padding: 40px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-align: left;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

h3,
h4 {
    color: #ecf2f8;
    font-family: fantasy;
    text-align: center;
    font-size: clamp(32px, 4vw, 40px);
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 40px;
    font-family: 'Orbitron', sans-serif;
}

h4 {
    color: black;
    font-size: clamp(36px, 4vw, 44px);
}



.form-content label,
.was-validated .form-check-input:invalid~.form-check-label,
.was-validated .form-check-input:valid~.form-check-label {
    color: #eed4d4;
    height: 100px;
    width: 78px;
}

.form-content input[type=text],
.form-content input[type=password],
.form-content input[type=email],
.form-content select {
    max-height: 100px;
    height: 40%;
    width: 100%;
    padding: 9px 20px;
    text-align: left;
    border: 2px solid white;
    outline: 0;
    border-radius: 6px;
    background-color: #030303;
    font-size: clamp(18px, 2vw, 24px);
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    color: #eee9e9;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    margin-top: 16px;
}

.form-content-create input[type=text],
.form-content-create input[type=password],
.form-content-create input[type=email],
.form-content-create select {
    max-height: 100px;
    height: 40%;
    width: 100%;
    padding: 9px 20px;
    text-align: left;
    border: 2px solid rgb(12, 12, 12);
    outline: 0;
    border-radius: 6px;
    font-size: clamp(18px, 2vw, 24px);
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    color: #030303;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    margin-top: 16px;
}

.btn-primary {
    background-color: #ca2a2a;
    outline: none;
    border: 0px;
    box-shadow: none;
    margin-top: 5%;
    font-size: clamp(16px, 3vw, 24px);
    font-weight: 700;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    background-color: #ca2525;
    outline: 0;
    border: none !important;
}

#button {
    background-color: #3080c6;
    font-family: 'Quicksand';
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    transition: 1s ease-in-out;
}

#button:hover {
    background-color: #3778b0;
    outline: none !important;
    box-shadow: none;
    transform: translateY(-5px);
}

#alert {
    background-color: #020202;
    font-size: clamp(18px, 2vw, 24px);
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    opacity: 8;
    color: #ecf2f8;
}

#alert-create {
    background: none;
    font-size: clamp(22px, 2vw, 28px);
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    opacity: 8;
    color: #ecf2f8;
}


.illustration {
    text-align: center;
    font-size: clamp(70px, 8vw, 100px);
    color: lightskyblue;
}

.door-icon {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: clamp(70px, 8vw, 110px);
    color: rgb(71, 64, 64)
}

.forgot {
    display: block;
    text-align: center;
    font-size: clamp(15px, 3vw, 24px);
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    color: #32d1c4;
    opacity: 1;
    text-decoration: none;
}

span {
    font-size: clamp(16px, 3vw, 25px);
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
    font-weight: 600;
    color: rgb(255, 255, 255)
}

.forgot:hover {
    color: #32d1c4;
    text-decoration: none;
}

@media (max-width:750px) {
    .form-content .form-items {
        width: 550px;
    }

    .form-content-create .form-items {
        width: 550px;
    }
}

@media (max-width:580px) {
    .form-content .form-items {
        width: 480px;
    }

    .form-content-create .form-items {
        width: 480px;
    }

    .form-content-create .form-items {
        padding: 20px;
    }

    .form-content .form-items {
        padding: 20px;
    }
}

@media (max-width:520px) {
    .form-content .form-items {
        width: 400px;
    }

    .form-content-create .form-items {
        width: 400px;
    }

    .form-content-create .form-items {
        padding: 15px;
    }

    .form-content .form-items {
        padding: 15px;
    }

}