{% extends "layout.html" %} {% block body %}
<head>
  <title>Fronts-home</title>
  <link
    href="{{url_for('static', filename='css/for_home.css')}}"
    rel="stylesheet"
  />
</head>

<body>
  <div class="container-waterflow">
    <div class="waterflow"></div>
  </div>
  <br />
  <br />
  <br />
  <br />
  <body>
    <div id="testimonial-grid-container">
      <div id="top">
        {% for post in posts %} {% if loop.index % 2 == 0 %}
        <div id="testimonial-1" class="grid-item">
          <div id="username-1">
            <img
              src="{{url_for('static', filename='img/user_icon.png')}}"
              alt="user-icon"
              width="24"
              height="24"
            />
            <a href="/user_account/{{post.user.id}}">{{post.user.username}}</a
            >•posted this on {{post.date}}
          </div>
          <a href="/individual_post/{{post.slug}}" |slugify|>
            <div class="post-title-1">{{ post.title }}</div>
          </a>
          <div class="content-1">{{post.content[0:350]}}...</div>
          <div class="chat-icon">
            <a href="/chat"
              ><i class="bi bi-chat-left-text-fill" id="chat"></i
            ></a>
          </div>
          <hr />
        </div>

        {% else %}
        <div id="testimonial-2" class="grid-item">
          <div id="username-1">
            <img
              src="{{url_for('static', filename='img/user_icon.png')}}"
              alt="user-icon"
              width="24"
              height="24"
            />
            <a href="/user_account/{{post.user.id}}">{{post.user.username}}</a
            >•posted this on {{post.date}}
          </div>
          <a href="/individual_post/{{post.slug}}" |slugify|>
            <div class="post-title-1">{{ post.title }}</div>
          </a>
          <div class="content-1">{{post.content[0:300]}}...</div>
          <div class="chat-icon">
            <a href="/chat"
              ><i class="bi bi-chat-left-text-fill" id="chat"></i
            ></a>
          </div>
          <hr />
        </div>

        {% endif %} {% endfor %}
      </div>
    </div>
  </body>
  <br />
  <br />
  <br />
  <br />

  {% endblock %}
</body>
