<!DOCTYPE html>
<html lang="en">
   

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=0.75, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Vriddhi</title>

  <!-- Bootstrap core CSS -->
 

  <!-- Custom fonts for this template -->


  <!-- Custom styles for this template -->
  <link href="{{url_for('static', filename='css/for_intro.css')}}" rel="stylesheet">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">




  <header class="masthead" id="photu"style="background-image: url('{{ url_for('static', filename='img/into.jpg') }}')" >
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-6 mx-auto">
          <div class="page-heading">
            <h1>VR_iddH!</h1></div>
            <div class="subheading">
           
            <span>अपारम् तव अपरिमितम् प्राप्यताम्।</span>
           This means you can reach your limitless limit 
           and this is the perfect place to do that.
          </br>
           
         
          <a class="btn btn-info"id='intro_but' href="/signin" role="button">Signin</a>
        
      <a class="btn btn-info" id="intro_but"href="/new_account" role="button">Create_account</a>
              </div>
           
          </div>
        </div>
      </div>
    </div>
  </header>

 </html>  

 