<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <title>ENter the WOrLd</title>
    <link rel="stylesheet" href="static/css/signin.css" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta http-equiv="expires" content="Tue, 01 Jan 2025 12:00:00 GMT" />
    <meta
      name="description"
      content="a platform to share communicate your ideas. #Join live chat and share your opinions.
    A new world of communication is now open. #JOIN FRONTS"
    />
    <meta name="author" content="" />
    <link rel="icon" href="static/img/vriddhi_logo.png" alt="vriddhi logo" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body style="background-image: url(static/img/fire.jpg)">
    <div class="container">
      <input type="checkbox" id="flip" />
      <div class="cover"></div>
      <div class="forms">
        <div class="form-content">
          <div class="login-form">
            <div class="title">Enter the world</div>
            <form action="/new_account" method="post">
              <div class="input-boxes">
                <div class="input-box">
                  <i class="fas fa-envelope"></i>
                  <input
                    type="text"
                    name="username"
                    id="username"
                    placeholder="Enter your username"
                    required
                  />
                </div>
                <div class="input-box">
                  <i class="fas fa-envelope"></i>
                  <input
                    name="email"
                    id="email"
                    type="email"
                    placeholder="Enter your email"
                    required
                  />
                </div>
                <div class="input-box">
                  <i class="fas fa-lock"></i>
                  <input
                    type="password"
                    name="password"
                    id="password"
                    placeholder="Make a 8-digit Password"
                    required
                  />
                </div>
                <div class="input-box">
                  <i class="fas fa-lock"></i>
                  <input
                    type="password"
                    name="cpass"
                    id="cpass"
                    placeholder="Confirm password"
                    required
                  />
                </div>

                <div class="button input-box">
                  <input type="submit" value="Submit" />
                </div>
                <div class="text sign-up-text">
                  Already signed in ?
                  <label for="flip"><a href="/">Login now</a></label>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
